
body {
    font-family: Roboto Slab, serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}
h1 {
    color: #2eb1ee; /* Cor do título */
}
.promo-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}
.promo-item h2 {
    color: #333;
}
.cta-button {
    background-color: #2eb1ee; /* Cor do botão */
    color: white; /* Cor do texto do botão */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}

.menu p a:hover{
    background: #6f94e9;
    transform: scale(1.1);       
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}
footer {
    background-color: rgb(47, 61, 107);
    color: white;
    text-align: center;
    padding: 5px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Estilo da imagem */
.product-card .product-image {
    width: 100%; /* A imagem ocupa toda a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    transition: transform 0.3s ease; /* Transição suave para o efeito de aumento */
}

/* Aumenta a imagem quando o mouse passar sobre ela */
.product-card:hover .product-image {
    transform: scale(1.2); /* Aumenta a imagem em 1.2 vezes */
}

/* BARRA DE ROLAGEM */
  
  /* Define o estilo da barra de rolagem */
  ::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
    height: 12px; /* Altura da barra de rolagem horizontal */
}

/* Define o estilo do trilho da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Cor do trilho */
    border-radius: 10px;
}

/* Define o estilo da parte que desliza da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: #888; /* Cor do thumb */
    border-radius: 10px;
    border: 3px solid #f1f1f1; /* Adiciona uma borda para o thumb */
}

/* Define o estilo do thumb quando está sendo hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Cor do thumb quando passa o mouse */
}

/* Personalizando a barra de rolagem para a horizontal */
::-webkit-scrollbar-horizontal {
    height: 12px; /* Altura da barra de rolagem horizontal */
}
